/* ALL PAGES */
html {
    overflow-y: overlay;
}

body {
    background-image: linear-gradient(to right, #343a40, #41484f, #4f575e, #5d666d, #6c757d);
}

.wrapper {
    color: #DDD;
    font-family: 'Cutive Mono', monospace;
}

header {
    text-align: center;
}

h1 {
    /* font-family: 'Poiret One', cursive; */
    width: 100%;
    font-family: 'Megrim', cursive;
    font-size: 10vw;
    color: #222;
    letter-spacing: -3.8vw;
    padding-right: 4.8vw !important;
    padding-left: 0 !important;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.5vw;
    margin-top: -3vh;
    color: #DDD;
}

h3 {
    color: var(--teal);
}

hr {
    border-color: #DDD;
}

a {
    color: var(--teal);
}

a:hover {
    color: var(--teal);
    text-decoration: none;
}

.nav {
    margin-top: 3vh;
}

.navbar {
    width: 100%;
    padding: 0;
}

.nav-item {
    margin: 2vh 0;
    font-size: 1.25rem;
}

.nav-link {
    padding: 0;
}

#nav {
    height: 100vh;
    padding: 0px;
    position: fixed;
}

.content {
    padding: 0px;
    margin-left: 25%;
    padding-top: 1%;
    padding-right: 5%;
}

#portfolio, #contact {
    display: none;
}

.col- 

.row {
    height: 100vh;
    margin: 0px !important;
}

.nav-link,
.nav-link:hover {
    color: #DDD;
}

.hvr-underline-from-left:before {
    background: var(--teal);
    height: 2px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #DDD;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}

/* ABOUT */
#bio-pic {
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.25s ease-out;
}

#bio-pic:hover {
    filter: initial;
    transition: all 0.25s ease-out;
}

/* PORTFOLIO */
img {
    filter: grayscale(100%);
    transition: all 0.25s ease-out;
}

img:hover {
    filter: initial;
    transition: all 0.25s ease-out;
}

.image {
    padding: 1rem;
}

/* CONTACT */
.form-control,
.form-control:hover,
.form-control:focus {
    background-color: transparent;
    color: #DDD;
}

.form-control:focus {
    border-color: var(--teal);
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: grey;
}

.submit {
    color: var(--teal);
    border-style: solid;
    border-width: 1px;
    border-color: var(--teal);
}

.submit:hover {
    color: var(--teal);
}

.icon-link {
    color: #333;
    transition: all 0.25s ease-out;
}

.icon-link:hover {
    transition: all 0.25s ease-out;
}

#github:hover {
    color: #6e5494;
    text-decoration: none;
}

#twitter:hover {
    color: #55ACEE;
    text-decoration: none;
}

#linkedin:hover {
    color: #0077B5;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    h1 {
        margin: 0px;
        text-align: right;
    }

    h2 {
        margin: 0;
        font-size: 90%;
        text-align: left;
    }

    h5 {
        background-color: var(--teal);
        border-radius: 5px;
        color: #DDD;
        font-weight: bold;
        padding: .5rem;
    }

    #nav {
        position: initial;
        height: initial;
    }

    #bio-pic {
        filter: initial;
    }

    .content {
        height: initial;
        margin-left: initial;
        padding-right: 0;
    }

    .nav {
        margin-top: 0;
    }

    .nav-item {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .hvr-underline-from-left:before {
        height: 0px;
    }

    .carousel-item > img {
        filter: blur(2px) grayscale(100%);
    }   

    p {
        line-height: normal;
    }

    footer {
        position: absolute;
    }

    #portfolio-footer {
        position: relative;
    }

    h5 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 575px) {
    #portfolio-footer {
        position: absolute;
    }
}

@media only screen and (min-width: 576px) {
    #portfolio-footer {
        position: relative;
    }
}