/* ALL PAGES */
@import url("fonts.css");

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #343a40, #41484f, #4f575e, #5d666d, #6c757d);
}

body:hover {
    cursor: default;
}

.wrapper {
    color: #FFF;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -1px;
    line-height: 1rem;
    width: 100vw;
}

header {
    text-align: center;
}

h1 {
    width: 100%;
    font-family: 'Megrim', cursive;
    font-size: 10vw;
    color: #222;
    letter-spacing: -3.8vw;
    padding-right: 4.8vw !important;
    padding-left: 0 !important;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.5vw;
    margin-top: -3vh;
    color: #FFF;
}

h3, h4, h5 {
    color: var(--teal);
}

hr {
    border-color: #FFF;
}

a {
    color: var(--teal);
}

a:hover {
    color: var(--teal);
    text-decoration: none;
}

.nav {
    margin-top: 3vh;
}

.navbar {
    width: 100%;
    padding: 0;
}

.nav-item {
    margin: 2vh 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.nav-link {
    padding: 0;
}

.nav-link:hover,
#logo:hover,
#logo-name:hover {
    cursor: pointer;
}

#nav {
    height: 100vh;
    padding: 0px;
    position: fixed;
}

.content {
    padding: 0px;
    margin-left: 25%;
    padding-top: 1%;
    padding-right: 5%;
}

#portfolio,
#contact,
#skills,
#resume {
    display: none;
}

.col- .row {
    height: 100vh;
    margin: 0px !important;
}

.nav-link,
.nav-link:hover {
    color: #FFF;
}

.hvr-underline-from-left:before {
    background: var(--teal);
    height: 2px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #6c757d;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}

.icon {
    font-size: 1rem;
    color: #FFF;
    transition: all 0.25s ease-out;
}

.icon:hover {
    font-size: 1rem;
    color: var(--teal);
    transition: all 0.25s ease-out;
}

/* ABOUT */
#bio-pic-text {
    color: var(--teal);
}

#bio-pic {
    filter: initial;
    border-radius: 5px;
    width: 100%;
}

#expand-all {
    float: right;
}

.accordion {
    font-size: 1rem;
    line-height: 1rem;
}

pre {
    color: #FFF;
    margin: 0;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -1px;
    font-size: 1rem;
    display: inline;
}

.accordion .header:before {
    font-family: 'FontAwesome';
    color: var(--teal); 
    content: "\f107";
    margin-right: 0px;
    float: left;
    width: 15px !important;
}

.accordion .header.collapsed:before {
    content: "\f105";
    color: var(--teal);
    width: 15px;
    margin: 0px;
}

/* PORTFOLIO */
img {
    filter: saturate(0%);
    transition: all 0.25s ease-out;
}

.image {
    padding: 1rem;
}

[class*=" imghvr-"] figcaption,
[class^=imghvr-] figcaption,
[class*=" imghvr-"],
[class^=imghvr-],
[class*=" imghvr-shutter-in-"]:after,
[class*=" imghvr-shutter-in-"]:before,
[class^=imghvr-shutter-in-]:after,
[class^=imghvr-shutter-in-]:before {
    background-color: var(--teal);
}

[class^=imghvr-] figcaption {
    padding: 10px;
}

figcaption {
    text-align: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figcaption h4 {
    font-weight: bold;
    font-size: 1.4vw;
    color: initial;
}

.subcaption {
    display: block;
    font-weight: initial;
    line-height: initial;
}

.project-link > a {
    font-weight: initial;
    line-height: initial;
    position: static;
    color: #FFF;
}

/* SKILLS */
.skillContainer {
    display: flex;
    flex-wrap: wrap;
}

#invert {
    filter: invert(1) saturate(0);
}

#invert:hover {
    filter: invert(0) saturate(1);
}

.skill-icon {
    height: 50px;
    margin: .25rem 1rem 3.5rem 1rem;
}

.skill-icon:hover {
    filter: saturate(100%);
    transition: all 0.25s ease-out;
}

.popover-body {
    color: #FFF;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: -1px;
}

.popover {
    background-color: transparent;
    border-color: var(--teal);
}

.bs-popover-bottom .arrow::after {
    border-bottom-color: var(--teal) !important;
}

.bs-popover-right .arrow::after {
    border-right-color: var(--teal) !important;
}

/* RESUME */
#resume-container p {
    margin: 0;
}

.resume-block {
    margin-bottom: 1rem;
}

/* CONTACT */
form {
    padding-bottom: 1rem;
}

.form-control,
.form-control:hover,
.form-control:focus {
    background-color: transparent;
    color: #FFF;
}

.form-control:focus {
    border-color: var(--teal);
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: grey;
}

.submit {
    color: var(--teal);
    border-style: solid;
    border-width: 1px;
    border-color: var(--teal);
}

.submit:hover {
    color: var(--teal);
}

@media only screen and (max-width: 767px) {
    h1 {
        margin: 0px;
        text-align: right;
    }

    h2 {
        margin: 0;
        font-size: 90%;
        text-align: left;
    }

    h5 {
        background-color: var(--teal);
        color: #FFF;
        font-weight: bold;
        padding: .5rem;
    }

    #nav {
        position: initial;
        height: initial;
    }

    .content {
        height: initial;
        margin-left: initial;
        padding-right: 0;
    }

    .nav {
        margin-top: 0;
    }

    .nav-item {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .hvr-underline-from-left:before {
        height: 0px;
    }

    #expand-all {
        float: none;
    }

    .carousel-item>img {
        filter: grayscale(100%);
    }

    p {
        line-height: normal;
    }

    footer {
        position: absolute;
    }

    #portfolio-footer {
        position: relative;
    }

    h5 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 575px) {
    #portfolio-footer {
        position: absolute;
    }
}

@media only screen and (min-width: 576px) {
    #portfolio-footer {
        position: relative;
    }
}

@media only screen and (min-width: 1921px) {
    body {
        max-width: 60%;
        margin: 0 auto;
    }
}